################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Angular5TF1
/App1
/MyntraAngular
/Myntra
/MyntraApp
/PMMS
/PMSS/PMSS/bin/roslyn
/PMSSApp
/PMSSCore
/BarakatFreshAndroid
/Prism
/PetSeller
/LazyLoading
/lazyLoader
/GoogleCalendar
/FastCellExample
/TrackFuddy
/TrackFood
/myMaterial
/package-lock.json
/shoppingcart
/swiggy
/barcode
/Prismdemo/.vs/Prismdemo/v15
